p{ display: inline-block;

}
#orangebar {
    height: 140px;
    width: 2560px;
    background-color: rgb(255, 47, 0);
    margin-top: -8px;
    margin-left: -8px;

}
#gradientbar {
    height: 25px;
    width: 25px;
    background-color: blue;
    margin-top: -17px;
    margin-left: -8px;
}
#image1 {
    height: 125px;
    width: 300px;
    margin-top: -145px;
    margin-left: 1080px; 
}
#image2 {
    height: 90px;
    width:  500px;
    margin-top: -630px;
    margin-left:-9px;

}

